<div class="max-w-[1024px] mx-auto mt-5 mb-5">
  <p class="text-center text-white bg-[#222] w-full p-4 text-xl">VIEW BOOK</p>
  <div class="grid grid-cols-4 border-2 mt-2 p-2">
    <p class="text-center">Name</p>
    <p class="text-center">Description</p>
    <p class="text-center">Price</p>
    <p class="text-center">Action</p>
  </div>
  <div class="grid grid-cols-4 text-[12px] overflow-auto">
    <p class="border-2 p-4">Book</p>
    <p class="border-2 p-4">
      Availability: In stock Language: German Publishing date: March, 2022
      Author: Hermann Kaufmann, Stefan Krötsch, Stefan Winter ; Sonja Geier,
      Annette Hafner, Wolfgang Huß, Holger König, Maren Kohaus, Frank Lattke,
      Klaus Mindrup, Lutz Müller, Anne Niemann, Daniel Rüdisser, Christian
      Schühle, Manfred Stieglmeier, Martin Teibinger, Ger Format: Flap Brochure
      - 29,7 x 23 cm ISBN: 978-3-95553-556-8 Edition: 4
    </p>
    <p class="border-2 p-4">Price</p>
    <span class="flex w-full justify-end gap-5 border-2 p-4 ">
      <p class="text-right cursor-pointer">Edit</p>
      <p class="text-right cursor-pointer">Delete</p>
    </span>
  </div>
</div>
