<nav class="navbar navbar-expand-lg navbar-light bg-light mt-3">
  <div class="container flex justify-center w-full">
    <a class="">Angular</a>
    <div id="navbarNav" class="">
      <ul class="flex justify-between">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/view-book"
            >Show Books</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/add-book"
            >Add Books</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
