<nav class="w-full bg-[#222] h-[80px] text-white">
  <div class="max-w-[1024px] mx-auto flex justify-between h-full items-center">
    <a class="font-bold text-3xl text-sky-500">ANGULAR</a>
    <ul class="flex h-full items-center gap-2">
      <li class="list-none">
        <a
          class="hover:bg-[#000] p-4 rounded-md"
          routerLinkActive="active"
          routerLink="/books"
          >Show Books</a
        >
      </li>
      <li class="list-none">
        <a
          class="hover:bg-[#000] p-4 rounded-md"
          routerLinkActive="active"
          routerLink="/books/add"
          >Add Books</a
        >
      </li>
      <li class="list-none">
        <a
          class="hover:bg-[#000] p-4 rounded-md"
          routerLinkActive="active"
          routerLink="/delivery"
          >Order(s)</a
        >
      </li>
    </ul>
  </div>
</nav>
