<div class="container mx-auto max-w-[1024px]">
  <div class="shadow-md rounded-md pb-2 mt-3">
    <h1 class="p-2 bg-[#222] text-white rounded-t-md">
      Meter level // Two-Way Blinding
    </h1>
    <div class="p-3">
      <div>
        <p>{{ minLevel }}</p>
        <app-action-bar (numberChange)="doMinChange($event)"></app-action-bar>
      </div>
      <div>
        <p>{{ maxLevel }}</p>
        <app-action-bar (numberChange)="doMaxChange($event)"></app-action-bar>
      </div>
    </div>
  </div>
</div>
