<div class="max-w-[1024px] mx-auto mt-3 shadow-md rounded-b-md">
  <div class="bg-[#222] rounded-t-md text-white">
    <h1 class="bg-[#222] text-white rounded-t-md mt-3 p-3">Update Book</h1>
  </div>
  <div class="w-full flex justify-center">
    <table class="">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of Books; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ book.name }}</td>
          <td>{{ book.price }}</td>
          <td>{{ book.description }}</td>
          <td class="text-center">
            <a
              class="btn btn-sm btn-primary"
              routerLink="/books/{{ book._id }}"
              >Edit</a
            >
            <button
              class="bg-red-400 p-1 rounded-md hover:bg-opacity-75"
              (click)="delete(book._id, i)"
            >
              Edit
            </a>
            <button class="btn btn-sm btn-danger" (click)="delete(book._id, i)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
