<div class="max-w-[1024px] mx-auto mt-3 shadow-md rounded-b-md">
  <div class="bg-[#222] pt-2 pb-2 border-b rounded-t-md text-white">
    <h1 class="text-center text-xl">Book list</h1>
  </div>
  <div class="w-full flex flex-col justify-between px-2">
    <table>
      <thead>
        <tr>
          <th class="pr-3" scope="col">#</th>
          <th class="text-left" scope="col">Name</th>
          <th class="text-left" scope="col">Price</th>
          <th class="text-left" scope="col">Description</th>
          <th class="text-center py-2" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of Books; let i = index" class="border-t-2">
          <th class="text-left text-sm" scope="row">{{ i + 1 }}</th>
          <td class="text-left text-sm">{{ book.name }}</td>
          <td class="text-left text-sm">{{ book.price }}</td>
          <td class="text-left text-sm">{{ book.description }}</td>
          <td class="text-center py-2">
            <a
              class="bg-blue-400 p-2 rounded-md mr-2 hover:bg-opacity-75"
              routerLink="/books/{{ book._id }}"
              >Edit</a
            >
            <button
              class="bg-red-400 p-1 rounded-md hover:bg-opacity-75"
              (click)="delete(book._id, i)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
